<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>{{job.title}} - Jovian Careers</title>
    <style>
      #banner {
        height: 320px;
        width: 100%;
        object-fit: center;
      }

      div {
        margin: auto;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class='container'>
    <img id='banner' class='img-responsive' src="https://web-development-project.midorukawa.repl.co/static/banner.jpg" height="320">
    <h3>Title:</h3>
    <p>{{job.title}}</p>
    <h4>Location:</h4>
    <p>{{job.location}}</p>
    <h4>Salary:</h4>
    <p>{{job.currency}}{{job.salary}}</p>
    <h4>Requirements:</h4>
    <ol>
      {% for line in job.requirements.split('\n') %}
      <li>{{line}}</li>
      {% endfor %}
    </ol>
    <h4>Responsibilities:</h4>
    <ul> {% for line in job.responsibilities.split('\n') %}
    <li>{{line}}</li>
    {% endfor %}</ul>
    {% include 'application_form.html' %}
    {% include 'footer.html' %}
    </div>
  </body>
</html>